body {
  font-family: inherit;
}

#promo {
  /*padding: 20px;
  background-image: url("../../assets/img/Coins_Far.jpg");
  background-size: cover;*/
}

#promo p {
  font-size: 30px;
}

#promo-1 {
  padding: 20px;
  background: linear-gradient(0deg, rgba(30,58,99,1) 0%, rgba(88,125,179,1) 100%);
}

@media (min-width: 768px) {
  #promo {
    padding: 0px;
  }
}

.jumbotron {
  padding: 4rem 2rem;
  background-color: var(--bs-light);
  border-radius: .3rem;
}

#promo .jumbotron {
  border-radius: 20px;
  padding: 0px 0px 0px 0px !important;
  background-color: rgba(255,255,255,0.75);
  margin: 0 auto;
}

#promo-1 .jumbotron {
  border-radius: 20px;
  padding: 20px;
  background-color: rgba(255,255,255,0);
  max-width: 800px;
  margin: 0 auto ;
}

@media (min-width: 768px) {
  #promo .jumbotron {
    padding: 40px;
  }
}

.site-section {
  text-align: center;
  padding: 20px 0 60px;
  padding-bottom: 70px;
}

.site-section h1 {
  font-family: 'Noto Serif Display';
  font-weight: 800;
  color: #6289c1;
  margin-bottom: 30px;
  margin-top: 60px;
}

.site-section h2 {
  font-family: 'Noto Serif Display';
  font-weight: 800;
  color: #6289c1;
}

#Welcome p {
  max-width: 600px;
  font-size: 20px;
  margin: 0 auto;
}

#why .item svg {
  font-size: 100px;
  padding: 10px;
  color: #1a2b6f;
}

#why .item {
  margin-top: 42px;
}

#why .item h2 {
  font-weight: 800;
  color: #1a2b6f;
  margin-top: 13px;
}
#why h1 {
  font-weight: 800;
  color: #1a2b6f;
  margin-top: 13px;
}

#why p {
  padding-left: 20px;
  padding-right: 20px;
  font-family: 'Noto Serif Display';
  font-weight: 800;
  line-height: 150%;
  color: #1a2b6f;
}

.dark-section {
  background-color: #e3ebf7;
}
.sell-to-us{
  padding-left:100px;
  padding-right:100px;
}

.sell-to-us p{
  margin-top: 20px;
  font-family: 'Roboto' !important;
  font-weight: 400 !important;
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: rgba(255,255,255,0.9);
  background-color: #1d3961;
}

.gallery-image {
  padding: 20px;
}

#lightbox-form{
  position: fixed;
  z-index: 10000;
  top:0;
  left:0;
  height:100%;
  width: 100%;
  background-color:rgba(0,0,0,.8);
  display:none;
  padding-left: 0%;
}

#lightbox-form-button{
  cursor:pointer;
}

.form-control{
  font-size:10px;
  border-style: solid;
  border-color: rgb(161, 161, 161);
  border-width: 1px;
  padding:10px;
}

@media (min-width: 768px) {
  .form-control {
    padding: 20px;
    font-size: 20px;
  }
}

.mb-3{
  font-size: 3em;
}

.inquiry-form{
  background-color: #f3f6f9;
  padding:30px;
  min-width:400px;
  width: 50%;
  border-style:solid;
  border-color: gray;
}

#lightbox-form.active{
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  display: block;
  color: #2196f3;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
  min-width: 140px;
  text-align: center;
}

.btn-primary:active:hover, .btn-primary:hover {
  background-color: #394ea4;
}

.btn-primary {
  color: #fefefe;
  background-color: #1a2b6f;
  background-image: var(--bs-gradient);
  border-color: #2196f3;
}

.navbar {
  position: relative;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 0px;
  background-image: var(--bs-gradient);
  padding-top: 0px;
}

.listing {
  padding: 50px;
  margin:auto;
}

.listing-image-column {
  padding: 20px 20px 20px 20px;
}

.listing-image-column h3 {
  padding: 30px;
}

.listing-info {
}

.listing-title {
  padding-top: 20px;
  font-size: 50px;
  color: #6289c1;
  font-weight: 500;
  font-family: 'Noto Serif Display';
}

.listing-title-preview {
  padding-top: 10px;
  font-size: 20px !important;
  color: #6289c1;
  font-weight: 800;
  font-family: 'Noto Serif Display';
  height: 100px;
}



.listing-title-link{
  text-decoration: none;
}

@media (min-width: 768px) {
  .listing-title-preview {
    font-size: 20px !important;
    min-height: 60px;
  }
}

.listing-price {
  font-family: 'Roboto';
  font-weight: 700;
  padding-top: 10px;
  font-size: 35px;
}

.listing-info {
  font-family: 'Roboto';
  font-weight: 500;
  padding-top: 20px;
}

.listing-info-data {
  font-family: 'Roboto';
  font-weight: 500;
  padding-top: 20px;
  color: #6289c1;
}

.listing-description {
  font-family: 'Roboto';
  font-weight: 400;
  font-size: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.listing-main {
  background-color: #f3f6f9;
  border-radius: 20px;
  border-style: solid;
  padding-top: 20px;
  border-color: #e0e5ea;
}

.listing-image {
  max-width: 100%;
  max-height: 400px;
  object-fit: cover;
  box-shadow: 5px 5px 5px gray;
  border: 3px #1d3961;
  border-style: solid;
  border-radius: 20px;
}

.listing-image-small {
  max-width: 50%;
  max-height: 400px;
  object-fit: cover;
  box-shadow: 5px 5px 5px gray;
  border: 3px #1d3961;
  border-style: solid;
  border-radius: 20px;
}

.listing-image-preview {
  object-fit: cover;
  width: 100%;
  box-shadow: 5px 5px 5px gray;
  border: 3px #1d3961;
  border-style: solid;
  border-radius: 20px;
}

.image-dummy{
  min-width: 100%;
  background-position: center;
  background-size:cover;
  box-shadow: 5px 5px 5px gray;
  border: 3px #1d3961;
  border-style: solid;
  border-radius: 20px;
  margin:auto;
}
.image-dummy:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.image-dummy-small{
  width:100%;
  background-position: center;
  background-size:cover;
  box-shadow: 5px 5px 5px gray;
  border: 3px #1d3961;
  border-style: solid;
  border-radius: 20px;
  margin:auto;
}
.image-dummy-small:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.preview-images{
  padding-left:20px;
  padding-right:20px;
}
@media (min-width: 768px) {
  .preview {
    padding-left:45px;
    padding-right:45px;
  }
}

.listing-caption {
  font-family: 'Roboto';
  font-style: italic;
  font-size: 20px;
}

.listing-button-holder {
  margin-top: 20px;
  margin-bottom: 20px;
}

.listing-button {
  font-family: 'Noto Serif Display';
  font-size: 20px;
}

.listing-row{

}

.listing-preview {
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  border-color: #e0e5ea;
  margin-top: 0px;
  padding-bottom: 0px;
  height:100%;
  width:100%;
}

.listing-preview h3 {
  font-size: 25px;
}

.preview-grid {
  padding: 0px;
  margin: 0px;
}

.listing-preview-border {
  border-color: white;
  padding: 0px 20px 0px 0px;
}

.listing-image-preview-holder {
  width: 80%;
  padding-bottom: 80%;
  margin: 1em auto;
  overflow: hidden;
  position: relative;
  background: #000;
}

.featured-coin {
  display: flex !important;
  justify-content: center !important;
  flex-direction: row !important;
  padding: 20px 20px 20px 20px;
  border-radius: 20px;
  border-color: #e0e5ea;
  border-style: solid;
  margin-top: 0px;
  padding-bottom: 0px;
  height:100%;
  width:100%;
}

.featured-coin-img {
  display: flex !important;
  background-position:50% 41%;
  background-size:120%;
  padding: 0px;
  border-radius: 50%;
  border-color: white;
  border-style: solid;
  margin-top: 0px;
  padding-bottom: 0px;
  height:100px;
  width:100px;
}

.centered {
  color: white;
  text-shadow: 3px 2px black;
}

.centered-2 {
  color: white;
  text-shadow: 3px 2px black;
  font-size: 50px;
}

.slide-spacer{
  color: white;
  border: 3px solid green;
}

.slide{
display: flex;
align-items: center;
}

.slide-text{
  padding-left:30px;
  padding-right:30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.custom-carousel {
  max-height: 100%;
  background-size: cover;
  background-position: center;
}

.custom-carousel a:link{
  text-decoration: none!important;
}

@media (min-width: 768px) {
  .centered-2 {
    padding-left: 100px;
    padding-right: 100px;
  }
}

#Slide06 {
  background-image: url("../../assets/img/Coins_BG_4.png");
  height:300px;
}

#Slide05 {
  background-image: url("../../assets/img/InstagramBanner3.png");
  height:300px;
}

#Slide04 {
  background-image: url("../../assets/img/Coins_BG_4.png");
  height:300px;
}

#Slide03 {
  background-image: url("../../assets/img/Coins_BG_2.jpg");
  height:300px;
}

#Slide02 {
  background-image: url("../../assets/img/flagbg.jpg");
  height:300px;
}

#Slide01 {
  background-image: url("../../assets/img/Lancaster.jpg");
  height:300px;
}

.we-buy{
  background-color: #e4ebec;
  border-radius: 20px;
  padding:20px;
  min-height: 100%;
}

.we-buy p{
  padding-top:10px;
  font-family: 'Roboto';
}

.we-buy h2{
  margin: 0px;
}

.we-buy-holder{
  padding:10px;
}

.sell-to-us-image {
  padding: 0px 0px 20px 0px;
  border-radius: 40px;
}

#about-us-image{
  border-radius: 40px;
  margin-bottom: 40px;

}

.about-us-bio{
background-color: #e5eef0;
border-radius: 20px;
padding:20px;
}

.about-us-text p{
  font-family: 'Roboto';
  font-size: 16px;
}
.about-us-text li{
  font-family: 'Roboto';
  font-size: 16px;
}

#about-us-portrait{
  border-radius: 50%;
}

.faq-question{
margin-left: 40px;
margin-right: 40px;
margin-bottom: 20px;
margin-top: 20px;
}

.faq-answer{
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Roboto';
  font-size: 16px;
}

.faq-container{
  max-width: 800px;
  margin: auto;
}

.nav-item{
  font-family: 'Noto Serif Display';
  font-weight: 900;
}

#sort {
  display: flex;
  font-family: 'Noto Serif Display';
  font-weight: 800;
  min-width: 200px;
  padding: 10px 10px 10px 10px;
  margin-left: auto;
  margin-right: 0px;
  align-items:flex-end;
}

#listing-grid-container {
  padding: 50px;
  margin:auto;
}

#listings-dateasc{
  display:none;
}

#listings-dateasc.active{
  display:flex;
}

#listings-datedsc{
  display:none;
}

#listings-datedsc.active{
  display:flex;
}

#listings-priceasc{
  display:none;
}

#listings-priceasc.active{
  display:flex;
}

#listings-pricedsc{
  display:none;
}

#listings-pricedsc.active{
  display:flex;
}

#listings-latest{
  display:none;
}

#listings-latest.active{
  display:flex;
}

.sold-listing{
  display:none;
}

.sold-listing.active{
  display:flex;
}

.listings-container{
}

.fade-in{
  animation: fadeIn 1s;
}

@keyframes fadeIn{
from {
  opacity: 0;
}
to{
  opacity: 1;
}
}

.soldtext{
  font-family: 'Noto Serif Display';
  font-weight: 800;
  color: #c16262;
  margin-bottom: 30px;
  margin-top: 60px;
}

#show-sold-check{
  width:20px;
  height:20px;
}

#sold-checkbox-container{
  margin-left:auto;
  margin-right: 0px;
  width:200px;
  padding-top:10px;
}

.main-site{
  max-width: 1200px;
  margin:auto;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.15);
  border-style: solid;
  border-color: #868686;
  border-right-width: 1px;
  border-left-width: 1px;
  border-top: 0px;
  border-bottom: 0px;
}

#footer-main{
  max-width:1200px;
  font-family: 'Roboto';
}

.link-in-footer{
  color:rgb(146, 185, 206) !important;
}

.navbar-shadow{
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.185);

}

.main-section{
  padding:40px 40px 40px 40px;
}  

.cac-coin{
max-height:60px;
min-height:40px;
display:flex;
margin: 10px 0px 10px 0px;
}

.cac-coin-preview{
  max-height:30px;
  display:flex;
  margin: 10px 0px 10px 0px;
  }

.cac-display{
  display:flex;
  justify-content: end;
  max-width: 25%;
  min-height:100px;
}

.privacy-policy{
  max-width: 800px;
  margin:auto;
  padding: 20px 0 60px;
  padding-bottom: 70px;
  font-family: 'Noto Serif Display' !important;
}

.privacy-policy ul{
  text-align: left;
  text-justify:none;
  margin: auto;
}

.contact-us{
  margin: auto;
  max-width: 70%;
  background-color: white;
  padding: 40px 40px 40px 40px;
  border-style: solid;
  border-color:rgb(204, 204, 204);
}

.contact-bg{
  text-align: center;
  padding: 40px 0 60px;
  padding-bottom: 70px;
  background-color: #e3ebf7;
}