{% for listing in collections.listingsNewest | reverse%}
    {% set currentListing = listing.data.listing %}
        {% if listing.featured %}
            <div class="listing-preview"><a class="listing-title-link" href="/listings/{{ listing.slug.current | slug }}/">
                    <div class="image-dummy" style="background-image: url({{ listing.imageUrl }})"></div>
                    <h2 class="text-start listing-title-preview">{{ listing.name }}<br></h2>
                </a>

            </div>
        </div>
        {% else %}
        <div></div>
        {% endif %}
{% endfor %} 
