{% for listing in collections.listingsByPrice %}
    {% set currentListing = listing.data.listing %}
        {% if listing.sold %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 listing-preview-border sold-listing">
        {% else %}
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 listing-preview-border">
        {% endif %}
            <div class="listing-preview"><a class="listing-title-link" href="/listings/{{ listing.name | slug }}/">
                    <div class="image-dummy" style="background-image: url({{ listing.imageUrl }})"></div>
                    <h2 class="text-start listing-title-preview">{{ listing.name }}<br></h2>
                </a> 
<div class="row">
                    <div class="col">
                        <h3 class="text-start listing-price">
                            {% if listing.sold %}
                            <span><strike>${{ listing.price }}</strike></span>
                            <span class="soldtext">SOLD</span>
                            {% else %}
                            ${{ listing.price }}
                            {% endif %}
                        </h3>
                        </div>
                    <div class="col cac-display">
                    {% if listing.cac %}
                        <img src="/assets/img/caccoin.png" class="cac-coin-preview"></img>
                    {% else %}
                    {% endif %}
                    </div>
                
                </div>
            </div>
        </div> 
{% endfor %} 
