<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta property="og:title" content="{{ renderData.title or title or metadata.title }}" />
    <meta property="og:image" content="{{ listing.imageUrl }}"/>
    <meta property="og:type" content="text/html"/>
    <meta property="og:url" content="https://www.cabbage-coins.com/{{ page.url }}"/>
    <meta property="og:description" content="{{ listing.description or renderData.description or description or metadata.description }}"/>
    <meta name="Description" content="{{ listing.description or renderData.description or description or metadata.description }}"/>
    <meta name="google-site-verification" content="a6Lk9GbkXvVBcDQMy2Pha1TX7Uv13KVK0vmcL-myzUA" />
    <title>{{ renderData.title or title or metadata.title }}</title>
      <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Serif+Display&amp;display=swap">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab&amp;display=swap">
      <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">
      <link rel="stylesheet" href="/assets/css/Contact-Form-Clean.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css">
      <link rel="stylesheet" href="/assets/css/Pretty-Footer.css">
      <link rel="stylesheet" href="/assets/css/styles.css">
      <link rel="icon" type="image/x-icon" href="/assets/img/ccfav.ico">
      <link rel='canonical' href='https://www.cabbage-coins.com/{{ page.url }}'/>
    <style>
    </style>
    <script defer src="/assets/lightbox.js"></script>
    
</head>

<body>
    <div id="promo-1">
        <div class="text-center jumbotron">
            <h1 style="margin: 0px 0px 0px;"><a href="/"><img src="/assets/img/Cabbage%20Coins_White.png" width="100%" style="max-width: 500px;padding: 10px;"></a></h1>
        </div>
    </div>
    <nav class="navbar navbar-light navbar-expand-md bg-secondary navbar-shadow">
        <div class="container"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
            </div>
        </div>
    </nav>
<div class="main-site">
    <div class="site-section" style="padding-top: 0px;padding-bottom: 0px" >
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>
    </div>
</div>
    <script src="/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/js/lightbox-plus-jquery.min.js"></script>
</body>

</html>