---
layout: layouts/base.njk
templateClass: tmpl-listing
---
   <div class="container site-section" id="listing">
        <div class="row listing-main">
            <div class="col-sm-12 col-md-12 col-lg-6 listing-image-column"><img class="listing-image" data-lightbox="coins" src="{{ listing.imageUrl }}">
                <h3 class="listing-caption">"{{ listing.image.caption }}"</h3>
            </div>
            <div class="col listing-info">
                <h2 class="text-start listing-title">{{ listing.name }}<br></h2>
                <h3 class="text-start listing-price">${{ listing.price }}</h3>
                <div class="row">
                    <div class="col">
                        <h4 class="text-start listing-info">Date:</h4>
                    </div>
                    <div class="col">
                        <h4 class="text-end listing-info-data">{{ listing.date }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-start listing-info">Grade:</h4>
                    </div>
                    <div class="col">
                        <h4 class="text-end listing-info-data">{{ listing. grade }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-start listing-info">PGSC#:</h4>
                    </div>
                    <div class="col">
                        <h4 class="text-end listing-info-data"> {{ listing.pcgsnumber }}<br></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col text-center text-sm-center text-md-center text-lg-start listing-button-holder"><button class="btn btn-primary listing-button" type="button">INquire</button></div>
                </div>
                <h4 class="text-start listing-description">{{ listing.description}}<br></h4>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
    </div>

