---
layout: layouts/base.njk
templateClass: tmpl-listing
parent: Inventory
---
   <div class="container site-section main-section" id="listing">
        <div class="row listing-main">
            <div class="col-sm-12 col-md-12 col-lg-6 listing-image-column">
                <a href="{{ listing.imageUrl }}" target="_blank" data-lightbox="coins"><img class="listing-image"  src="{{ listing.imageUrl }}"></a>
                <h3 class="listing-caption">"{{ listing.image.caption }}"</h3>
                <div class="row preview-images">
                    {% for image in listing.galleryImageUrl %}
                        <div class="col">
                        <a href="{{ image }}" target="_blank" data-lightbox="coins">
                            <div class="image-dummy-small" style="background-image: url({{ image }})"></div>
                        </a>
                        </div> 
                    {% endfor %}
                </div>
            </div>
            <div class="col listing-info">
                <h2 class="text-start listing-title">{{ listing.name }}<br></h2>
                <h3 class="text-start listing-price">
                    {% if listing.sold %}
                    <strike>${{ listing.price }}</strike><h2>SOLD</h2>
                    {% else %}
                    ${{ listing.price }}
                    {% endif %}
                    </h3>
                <div class="row">
                    <div class="col">
                        <h4 class="text-start listing-info">Date:</h4>
                    </div>
                    <div class="col">
                        <h4 class="text-end listing-info-data">{{ listing.dateshown }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-start listing-info">Grade:</h4>
                    </div>
                    <div class="col">
                        <h4 class="text-end listing-info-data">{{ listing.grade }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h4 class="text-start listing-info">Certification #:</h4>
                    </div>
                    <div class="col">
                        <h4 class="text-end listing-info-data"> {{ listing.gradenumber }}<br></h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        {% if listing.cac %}
                            <img src="/assets/img/caccoin.png" class="cac-coin"></img>
                        {% else %}
                        {% endif %}
                    </div>
                </div>
                <div class="row">
                    {% if listing.sold %}
                    {% else %}
                    <div class="col text-center text-sm-center text-md-center text-lg-start listing-button-holder"><button class="btn btn-primary listing-button" id="lightbox-form-button" type="button">Inquire</button></div>
                    {% endif %}
                </div>
                <h4 class="text-start listing-description">{{ listing.description }}<br></h4>
            </div>
        </div>
        <div class="row">
            <div class="col"></div>
        </div>
    <div id="lightbox-form">
        <div class='inquiry-form'>
                <form action="https://formspree.io/f/mzbogwbb" method="post">
                    <h2 class="text-center">Inquire</h2>
                    <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="mb-3"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger"></small></div>
                    <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message" rows="14">Hello Tony, &#013; I am interested in purchasing the {{ listing.name }} listed at ${{ listing.price }} &#013;My preferred payment method is: (Zelle, Venmo, Cashapp, Paypal, Check)&#013;Please contact me at your earliest convenience to discuss this purchase.(add your phone number if communication via phone is preferred)&#013; Thank you!</textarea></div>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
                </form>
            <form></form>
        </div>
    </div>