---
eleventyNavigation:
  key: About Cabbage Coinss
  order: 5
layout: layouts/base.njk
tags:
  - nav
navtitle: About Cabbage Coins
title: About Cabbage Coins
---

<div class="container text-start site-section main-section">
        <h1 class="text-start">About Cabbage Coins</h1><img id="about-us-image" src="/assets/img/lancaster_wide.jpg" width="100%">
        <div class="about-us-text">
            <h2 class="text-start">Who We Are</h2>
            <p class="text-start">Cabbage Coins is a Buyer and Seller of Rare Coins, Gold, and Silver bars located right in the heart of beautiful Lancaster County Pennsylvania {{ metadata.aboutustext }}</p>
            <div class="about-us-bio">
                <div class="row">
                    <div class="col-auto offset-0"><img id="about-us-portrait" src="/assets/img/blank-profile-picture-g01fcfad62_640.png" width="100px"></div>
                    <div class="col">
                        <p class="text-start">{{ metadata.aboutusbio }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>