---
date: 2022-01-04
eleventyNavigation:
  key: FAQ
  order: 3
layout: layouts/base.njk
tags:
  - nav
navtitle: FAQs
title: Cabbage Coins | FAQs
---

<div class="container text-start main-section">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <div class="faq-container">
            <h2 class="text-start faq-question">• What kind of payments do you take?</h2>
            <p class="text-start faq-answer">We accept most forms of payment, except for credit cards. Use the contact form on one of our inventory items to discuss payment options, such as through Zelle, Venmo, PayPal or CashApp. We can accept checks, but they will require a seven day hold. Wires and ACH deposits are also a possibility for large dollar value items. Cash will be accepted for in-person transactions in the Lancaster County area or at local events. Please contact us to make arrangements.<br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• When will you ship the item purchased?</h2>
            <p class="text-start faq-answer">We will ship your coin after the item has been paid in full and the payment clears our bank. Once payment clears, most orders are shipped the next business day.<br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• How will you ship my coin?</h2>
            <p class="text-start faq-answer">Cabbage coins will ship your coin using USPS Priority Mail. The coin will be well packaged, padded and secure within the shipping container. The shipment will be fully insured. <br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• How can I contact Cabbage Coins?</h2>
            <p class="text-start faq-answer">The easiest way is simply to send us an email at info@cabbage-coins.com or give us a call at 703-298-9789. Please leave us a voicemail and we'll return your call promptly.<br></p>
        </div>
        <div class="faq-container">
            <h2 class="text-start faq-question">• Do you accept returns?</h2>
            <p class="text-start faq-answer">We have a 7 day, no questions asked return policy, if you are not fully satisfied. The coin MUST be returned in its original holder and include a copy of the invoice. Any coin that has been cracked out of the holder, holder abused, or coin/bar damaged in any way will not be accepted for return. <br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• How do I return my coin or silver bar to you?</h2>
            <p class="text-start faq-answer">First, contact us at info@cabbage-coins.com to start a return. We'll provide more detailed instructions at that time. To return a coin, simply package the item back up with the same care and security taken with the original shipment to you. Please insure the shipment for the full purchase price of the item. <br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• What coin shows do you attend?</h2>
            <p class="text-start faq-answer">Cabbage coins is often in attendance at shows across the country, walking the floor and making purchases. On occasion, we have a table and will try to do the major events, such as the ANA World's Fair of Money, the Baltimore Whitman Expo, the FUN shows in Florida.<br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• How do you use my data and personal information?</h2>
            <p class="text-start faq-answer">Submitting a contact form provides us your name and email address. Completing a transaction may provide us a contact number and a mailing address. This information is kept in our database for use in future contact or marketing efforts. Your information will never be sold or provided to a third party without your consent. <br></p>
        </div>
    </div>
    <div class="container text-start site-section">
        <h1 class="text-center">Have more questions?</h1>
        <div class="text-center faq-container">
            <p class="text-center faq-answer">Contact us with any additional questions you may have<br></p><button class="btn btn-primary" type="button" id="lightbox-form-button">contact us</button>
        </div>
    </div>
</div>
    <div id="lightbox-form">
        <div class='inquiry-form'>
                <form action="https://formspree.io/f/mzbogwbb" method="post">
                    <h2 class="text-center">Contact Us</h2>
                    <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="mb-3"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger"></small></div>
                    <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message" rows="14">Hello Tony, &#013;I had a question that wasn't covered by your FAQ page: [insert question here]</textarea></div>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
                </form>
            <form></form>
        </div>
    </div>
