---
date: 2022-01-04
eleventyNavigation:
  key: FAQ
  order: 3
layout: layouts/base.njk
tags:
  - nav
navtitle: F.A.Q.
title: FAQ
---

<div class="container text-start main-section">
        <h1 class="text-center">Frequently Asked Questions</h1>
        <div class="faq-container">
            <h2 class="text-start faq-question">• What kind of payments do you take?</h2>
            <p class="text-start faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus ultricies tristique nulla aliquet enim. Eu feugiat pretium nibh ipsum consequat nisl. Ornare arcu dui vivamus arcu. Ac feugiat sed lectus vestibulum. Iaculis nunc sed augue lacus viverra vitae congue. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium.<br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• Another question?</h2>
            <p class="text-start faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus ultricies tristique nulla aliquet enim. Eu feugiat pretium nibh ipsum consequat nisl. Ornare arcu dui vivamus arcu. Ac feugiat sed lectus vestibulum. Iaculis nunc sed augue lacus viverra vitae congue. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. <br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• I also wanted to know</h2>
            <p class="text-start faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus ultricies tristique nulla aliquet enim. Eu feugiat pretium nibh ipsum consequat nisl. Ornare arcu dui vivamus arcu. Ac feugiat sed lectus vestibulum. Iaculis nunc sed augue lacus viverra vitae congue. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. <br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• Fourth question?</h2>
            <p class="text-start faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus ultricies tristique nulla aliquet enim. Eu feugiat pretium nibh ipsum consequat nisl. Ornare arcu dui vivamus arcu. Ac feugiat sed lectus vestibulum. Iaculis nunc sed augue lacus viverra vitae congue. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. <br></p>
        </div>
                <div class="faq-container">
            <h2 class="text-start faq-question">• One more question goes here?</h2>
            <p class="text-start faq-answer">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus ultricies tristique nulla aliquet enim. Eu feugiat pretium nibh ipsum consequat nisl. Ornare arcu dui vivamus arcu. Ac feugiat sed lectus vestibulum. Iaculis nunc sed augue lacus viverra vitae congue. Egestas fringilla phasellus faucibus scelerisque eleifend donec pretium. <br></p>
        </div>
    </div>
    <div class="container text-start site-section">
        <h1 class="text-center">Have more questions?</h1>
        <div class="text-center faq-container">
            <p class="text-center faq-answer">Contact us with any additional questions you may have<br></p><button class="btn btn-primary" type="button" id="lightbox-form-button">contact</button>
        </div>
    </div>
</div>
    <div id="lightbox-form">
        <div class='inquiry-form'>
                <form action="https://formspree.io/f/mzbogwbb" method="post">
                    <h2 class="text-center">Inquire</h2>
                    <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="mb-3"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger"></small></div>
                    <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message" rows="14">Hello Tony, &#013;I had a question that wasn't covered by your FAQ page.</textarea></div>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
                </form>
            <form></form>
        </div>
    </div>
