---
eleventyNavigation:
  key: inventory
  order: 2
layout: layouts/base.njk
tags:
  - nav
navtitle: Inventory
title: Inventory
---


<div class="container site-section preview-grid" id="listing">
<h2 style="text-align: right; font-size:25px;">{{ listings.length }} Products</h2>
    <div class="row preview-grid listing-row">
        {% set listinggrid = collections.myListings%}
        {% include "listinggrid.njk" %}

    </div>
</div>

