---
layout: layouts/listing.njk
tags:
  - myListings
pagination:
  alias: listing
  data: listings_newest
  size: 1
  addAllPagesToCollections: true
permalink: listings/{{ listing.slug.current | slug }}/index.html
renderData:
  title: "Cabbage Coins | {{ listing.name }}"
---


