---
eleventyNavigation:
  key: Sell To Us
  order: 3
layout: layouts/base.njk
tags:
  - nav
navtitle: Sell To Us
title: Sell To Us
---

<div class="container text-start site-section">
        <h1 class="text-start">Sell To Us</h1><img class="sell-to-us-image" src="/assets/img/Coins_BG_3b.jpg" width="100%">
        <div class="row row-cols-3">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 we-buy-holder">
                <div class="we-buy">
                    <h2>Rare Coins</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus&nbsp;<br><br></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 we-buy-holder"> 
                <div class="we-buy">
                    <h2>Gold</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus&nbsp;<br><br></p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 we-buy-holder">
                <div class="we-buy">
                    <h2>Silver</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Mattis nunc sed blandit libero. Egestas egestas fringilla phasellus faucibus scelerisque. Risus&nbsp;<br><br></p>
                </div>
            </div>
        </div>
        <div class="text-center"><button class="btn btn-primary" type="button">Contact us</button></div>
    </div>