---
date: 2022-01-03
eleventyNavigation:
  key: Sell To Us
  order: 2
layout: layouts/base.njk
tags:
  - nav
navtitle: Sell To Us
title: Cabbage Coins | Sell To Us
---

<div class="container text-start site-section main-section">
        <h1 class="text-start">Sell To Us</h1><img class="sell-to-us-image" src="/assets/img/Coins_BG_3b.jpg" width="100%">
        <div class="row row-cols-3">
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 we-buy-holder">
                <div class="we-buy">
                    <h2>Rare Coins</h2>
                    <p>We make the strongest offers on rare coin collections in Central PA! Just give us a call <a href="tel:17177239505">+1 (717) 723-9505</a> or use the contact link below to reach out and tell us about the collection. We may be able to give you an estimate on value right over the phone or can arrange to come take a look at the collection in a safe, public place. Our offers will be strong, convenient and quick to pay in a format that suits you most.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 we-buy-holder"> 
                <div class="we-buy">
                    <h2>Gold</h2>
                    <p>In need of cash and looking to sell some old gold bars or coins? Let us make an offer so you can get the most for your metal. We buy American Eagles, Canadian Maple Leafs and all sort of generic or old US coin gold. We will test the gold for purity and can make an offer on the spot. Use the contact button below to reach out and we'll arrange a place to meet and look at your collection.</p>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-4 we-buy-holder">
                <div class="we-buy">
                    <h2>Silver</h2>
                    <p>Do you have any old silver bars lying around? Any poured silver or something vintage from the 1980s or earlier? We'd love to take a look at your silver stack and make a cash offer. We buy sizes ranging from 1oz to 10oz and all the way up to 100oz bars! Click that contact button below and we'll figure out the most convenient way to give you an appraisal today. &nbsp;<br><br></p>
                </div>
            </div>
        </div>
        <div class="text-center" style="padding-top:20px;"><button class="btn btn-primary" id="lightbox-form-button" type="button">Contact us</button></div>
    </div>
        <div id="lightbox-form">
        <div class='inquiry-form'>
                <form action="https://formspree.io/f/mzbogwbb" method="post">
                    <h2 class="text-center">Contact Us</h2>
                    <div class="mb-3"><input class="form-control" type="text" name="name" placeholder="Name"></div>
                    <div class="mb-3"><input class="form-control is-invalid" type="email" name="email" placeholder="Email"><small class="form-text text-danger"></small></div>
                    <div class="mb-3"><textarea class="form-control" name="message" placeholder="Message" rows="14">Hello Tony, &#013;I'm looking to sell. Here is the info:</textarea></div>
                    <div><input type="checkbox" name="privacypolicy" required></input>
                    <label for="privacypolicy">I agree to the <a href="/privacypolicy/" target="blank">privacy policy.</a></label><br></div>
                    <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
                </form>
            <form></form>
        </div>
    </div>